{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ category.name }} Posts</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
</head>
<body>

{% include 'header.html' %}

<div class="container">
    <h1>{{ category.name }} зарууд</h1>
    <div class="banner">
        <img src="https://cdn1.unegui.mn/media/banners/UNEGUI_MN_1_1.png">
    </div>
    <div class="post-list">
        {% for post in posts %}
        <div class="post-card">
            <a href="{% url 'post_detail' post_id=post.id %}">
                <div class="post-images">
                    {% for image in post.postimage_set.all %}
                    <img src="{{ image.img.url }}" alt="Post Image">
                    {% endfor %}
                </div>

                <h3>{{ post.title }}</h3>
                <div class="post-details">
                    <span class="post-price">{{ post.price }}</span>
                    <span class="post-subject">{{ post.subject }}</span>
                </div>
                <p>{{ post.content }}</p>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
    $(document).ready(function(){
        $('.post-images').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true
        });
    });
</script>
</body>
</html>